{% extends 'base.html' %} &nbsp;
{% load widget_tweaks %}
{% block container %}

{% if request.session.access %}
	<div class="container-fluid">
		<div class="alert alert-info">
			<p>{{ request.session.access }}</p>
		</div>
	</div>
{% endif %}


<p>{{ request.session.account_verification.message }}</p>
{% if request.session.account_verification.status == 'sent' %}
	<p>Если Вы не получали письма, то нажмите на кнопку "ОТПРАВИТЬ ИНСТРУКЦИЮ СНОВА"</p>
	<a href="{% url 'user:send_token_again' request.session.account_verification.user_id %}" class="btn btn-primary btn-lg active" role="button">ОТПРАВИТЬ ТОКЕН СНОВА</a>
{% elif request.session.account_verification.status == 'fail' and request.session.account_verification.user_id %}
	<p>Токен недействителен</p>
	<a href="{% url 'user:send_token_again' request.session.account_verification.user_id %}" class="btn btn-primary btn-lg active" role="button">ОТПРАВИТЬ ТОКЕН СНОВА</a>
{% endif %}




<h3>Войти</h3>
<form method="post">
	{% csrf_token %}
	{{ form.non_field_errors }}
	<div class="field">
        <label for="{{ form.username.id_for_label }}" class="label">
            Имя пользователя:
        </label>
        <div class="control">
            {{ form.username|add_class:"input" }}
        </div>
        <p class="help is-danger">{{ form.username.errors }}</p>
    </div>
	
	<div class="field">
        <label for="{{ form.password.id_for_label }}" class="label">
            Пароль:
        </label>
        <div class="control">
            {{ form.password|add_class:"input" }}
        </div>
        <p class="help is-danger">{{ form.password.errors }}</p>
    </div>

  
  <button class="btn btn-primary btn-lg active" type="submit">ВХОД</button>
  <a href="{% url 'password_reset' %}" class="btn btn-primary btn-lg active" role="button">ЗАБЫЛИ ПАРОЛЬ?</a>
</form>

{% endblock %}