{% extends 'base.html' %}
{% load widget_tweaks %}
{% block container %}
  {% if validlink %}
    <h3>Измените пароль:</h3>
    <form method="post">
	
		{% csrf_token %}
		<div class="field">
        <label for="{{ form.new_password1.id_for_label }}" class="label">
            Введите новый пароль:
        </label>
		<div class="control">
			{{ form.new_password1|add_class:"input" }}
		</div>
			<p class="help is-danger">{{ form.new_password1.errors }}</p>
		</div>
		
		<div class="field">
        <label for="{{ form.new_password2.id_for_label }}" class="label">
            Подтвердите ввод:
        </label>
		<div class="control">
			{{ form.new_password2|add_class:"input" }}
		</div>
			<p class="help is-danger">{{ form.new_password2.errors }}</p>
		</div>
	
      <button type="submit">Изменить</button>
    </form>
  {% else %}
    <p>
	  Введённый пароль не принят. Возможно, потому что он уже был использован.
	  Пожалуйста, введите другой пароль.
    </p>
  {% endif %}
{% endblock %}