{% extends 'base.html' %}

{% block container %}

	{{ formset.management_form }}
	
	<div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        Пользователи
      </h1>

      <div class="columns">
        <div class="column is-offset-2 is-8">



    
         
	
	{% for form in formset %}
	
		   <div class="field">
              <label for="{{ form.username.id_for_label }}" class="label">
                Имя пользователя
              </label>
              <div class="control">
                {{ form.username }}
              </div>
            </div>

            <div class="field">
              <label for="{{ form.email.id_for_label }}" class="label">
                Email
              </label>
              <div class="control">
                {{ form.email }}
              </div>
            </div>
			
			<div class="field">
              <label for="{{ form.phone.id_for_label }}" class="label">
                Телефонный номер
              </label>
              <div class="control">
                {{ form.phone.value }}
              </div>
            </div>

            <div class="field">
              <label for="{{ form.is_staff.id_for_label }}" class="label">
                Является администратором?
              </label>
              <div class="control">
                <label class="publication-tag">
				<input class="publication-tag__checkbox"
				{% if form.is_staff.value %}
					disabled checked
				{% else %}
					disabled
				{% endif %}
				type="checkbox"
				name="{{ form.is_staff.name }}"
				value="{{ form.is_staff_value }}">
              </div>
            </div>
    
            <div class="field">
              <label for="{{ form.is_active.id_for_label }}" class="label">
                Активирован?
              </label>
              <div class="control">
				<label class="publication-tag">
				<input class="publication-tag__checkbox"
				{% if form.is_active.value %}
					disabled checked
				{% endif %}
				type="checkbox"
				name="{{ form.is_active.name }}"
				value="{{ form.is_active_value }}">
              </div>
            </div>
	{% endfor %}
		</div>
      </div>
	</div>
  </div>	
	
{% endblock %}